<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Project</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Weather API</h1>

    <form action="/weather" method="post">
        <label for="q">Enter (Latitude/Longitude or Name of Place)</label>
        <input type="text" name="q" placeholder="Enter place" required>
        <input type="submit" value="Submit">
    </form>

    <% if (locals.content) { %>
        <h2>Current Temperature: <%= content.current.temp_c %> °C</h2>
        <img src="<%= content.current.condition.icon %>" alt="Icon Condition">
        <h3><%= content.current.condition.text %></h3>
        <h4>Name: <%= content.location.name %></h4>

        <p>Region: <%= content.location.region %></p>
        <p>Country: <%= content.location.country %></p>
        <p>Latitude/Longitude: <%= content.location.lat %>, <%= content.location.lon %></p>
        <p>Current time: <%= content.location.localtime %></p>
    <% } %>

</body>
</html>